<div class='container px-5 px-sm-0'>
<%= flash[:notice] %>
  <div class='row'>
    <div class='col-md-3'>
    <%= render 'public/members/member', member: @member %>
    </div>
    <div class='col-md-8 offset-md-1'>
      <div class="underline"><h2>グループ詳細</h2></div>
      <div style="height: 10px;"></div>
      <% if @group.group_image.attached? %>
        <%= image_tag @group.group_image, size: "100x100" %>
      <% else %>
        <%= image_tag 'no_image', size: "100x100" %>
      <% end %>
      <div style="height: 10px;"></div>
      <h4>グループ名</h4>
      <h5><%= @group.name %></h5>
      <div style="height: 10px;"></div>
      <h4>紹介文</h4>
      <h5><%= simple_format(@group.introduction) %></h5>
      <div style="height: 10px;"></div>
      <h4>グループメンバー</h4>
      <h5><% @group.members.each do |member| %>
        <li style="list-style: none;"><%= member.nickname %></li>
        <% end %>
      </h5>
      <div style="height: 10px;"></div>
      <h4>グループリーダー</h4>
      <%= link_to member_path(@group.owner) do %>
        <%= image_tag @group.owner.profile_image, size: "100x100" %>
      <% end %>
      <h5><%= link_to @group.owner.name, member_path(@group.owner) %></h5>

      <% if @group.group_members.exists?(member_id: current_member.id) %>
        <%= link_to group_group_chat_path(@group), class: "btn btn-sm btn-info" do %>
          <i class="fa-regular fa-comments">グループチャット</i>
        <% end %>
        <%= link_to group_group_members_path(@group), class: "btn btn-sm btn-danger",method: :delete, "data-confirm" => "本当にグループを脱退しますか？" do %>
          <i class="fa-solid fa-person-through-window">脱退する</i>
        <% end %>
      <% elsif @group.permits.exists?(member_id: current_member.id) %>
        <%= link_to group_permit_path(@group, @permit), method: :delete, class: "btn btn-sm btn-danger" do %>
          <i class="fa-solid fa-person-circle-xmark">申請取消</i>
        <% end %>
      <% elsif @group.owner_id == current_member.id %>
        <%= link_to group_group_chat_path(@group), class: "btn btn-sm btn-info" do %>
          <i class="fa-regular fa-comments">グループチャット</i>
        <% end %>
      <% else %>
        <%= link_to group_permits_path(@group), method: :post, class: "btn btn-sm btn-success" do %>
          <i class="fa-solid fa-person-circle-plus">加入申請</i>
        <% end %>
      <% end %>
      <%= link_to groups_path, class: "btn btn-sm btn-primary" do %>
        <i class="fa-solid fa-arrow-left">戻る</i>
      <% end %>
      <% if @group.owner_id == current_member.id %>
        <div class="dropdown">
          <button class="btn btn-sm btn-secondary dropdown-toggle"
                  type="button" id="dropdownMenu1" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false">
            オーナー専用項目
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <%= link_to "承認待ち一覧", permits_path(@group),  class: "dropdown-item text-secondary bg-transparent" %>
            <%= link_to 'グループ編集', edit_group_path(@group),  class: "dropdown-item text-success bg-transparent" %>
            <%= link_to 'グループ削除', group_path(@group), method: :delete,  class: "dropdown-item text-danger bg-transparent", data: { confirm: "本当に削除しますか？" } %>
          </div>
        </div>
      <% end %>
