<div class="container">
  <div class="row">
    <%= render 'error', model: @book %>
    <div class="col-md-3">
      <%= render 'members/member', member: @member %>
      <%= render 'new', post: @post %>
    </div>
    <div class="col-md-8 offset-md-1">
      <h2>Books</h2>
      <table class="table table-hover">
        <thead>
          <th></th>
          <th>タイトル</th>
          <th>本文</th>
        </thead>
        <tbody>
          <% @posts.each do |post| %>
            <tr>
              <td>
                <%= link_to member_path(post.user) do %>
                  <%= image_tag post.member.get_profile_image(100,100) %>
                <% end %>
              </td>
              <td><%= link_to post.post_title, post_path(post.id) %></td>
              <td><%= post.post_text %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>