<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-md-3">
      <%= render 'member', member: @member %>
      <%= render 'public/posts/new', post: @post %>
    </div>
    <div class="col-md-8 offset-md-1">
      <h2>投稿詳細</h2>
      <table class="table table-hover table-inverse">
        <tbody>
          <tr>
            <td><%= image_tag @member.get_profile_image(100,100) %><br>
                <%= link_to @member.name,member_path(@member.id) %></td>
            <td><%= link_to @post.title, post_path %></td>
            <td><%= @book.body %></td>
            <td>
              <% if @user == current_user %>
              <%= link_to "Edit", edit_book_path(@book), class: "btn btn-sm btn-success"%>
            </td>
            <td>
              <%= link_to "Destroy", book_path(@book), class: "btn btn-sm btn-danger",
                            method: :delete, "data-confirm" => "本当に消しますか？" %>
            </td>
            <% end %>
          </tr>
        </tbody>
      </table>
    </div>

  </div>
</div>