<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col">
      <table class="table table-hover table-inverse">
        <!-- 検索対象がMember -->
        <% if @range == "Member" %>
          <h2>メンバー検索結果  "<%= @word %>"</h2>
          <thead>
            <tr>
              <th scope="col" style="width: 10%">画像</th>
              <th scope="col" style="width: 20%">ニックネーム</th>
              <th scope="col" style="width: 20%">居住地</th>
              <th scope="col" style="width: 20%">メインパート</th>
              <th scope="col" style="width: 30%">自己紹介</th>
            </tr>
          </thead>
          <tbody>
            <% @members.each do |member| %>
              <tr>
                <td class="td_vertical_align_middle"><%= image_tag member.get_profile_image(50,50) %></td>
                <td class="td_vertical_align_middle"><%= link_to member.nickname, member_path(member.id) %></td>
                <td class="td_vertical_align_middle"><%= member.address %></td>
                <td class="td_vertical_align_middle"><%= member.main_part %></td>
                <td class="td_vertical_align_middle"><%= member.self_introduction %></td>
              </tr>
            <% end %>
          </tbody>
        <!-- 検索対象がPostの時 -->
        <% elsif @range == "Post" %>
          <h2>投稿検索結果  "<%= @word %>"</h2>
          <tr>
            <th colspan="1"></th>
            <th>タイトル</th>
            <th>本文</th>
            <th>ジャンル</th>
            <th>コメント数</th>
          <tr/>
          <tbody>
            <% @posts.each do |post| %>
              <tr>
                <td class="td_vertical_align_middle"><%= image_tag post.member.get_profile_image(50,50) %></td>
                <td class="td_vertical_align_middle"><%= link_to post.post_title, post_path(post.id) %></td>
                <td class="td_vertical_align_middle"><%= post.post_text %></td>
                <td class="td_vertical_align_middle"><%= post.genre.name %></td>
                <td class="td_vertical_align_middle"><%= link_to "#{post.post_comments.count} コメント", post_path(post.id) %></td>
              </tr>
            <% end %>
          </tbody>
          <!-- 検索対象がGroupの時 -->
        <% else %>
          <h2>グループ検索結果  "<%= @word %>"</h2>
          <tr>
            <th colspan="1"></th>
            <th>グループ名</th>
            <th>紹介文</th>
          <tr/>
          <tbody>
            <% @groups.each do |group| %>
              <tr>
                <td class="td_vertical_align_middle"><%= image_tag group.get_group_image(50,50) %></td>
                <td class="td_vertical_align_middle"><%= link_to group.name, group_path(group.id) %></td>
                <td class="td_vertical_align_middle"><%= group.introduction %></td>
              </tr>
            <% end %>
          </tbody>
        <% end %>
      </table>
    </div>
  </div>
</div>
