<h2>会員情報</h2>
<%= image_tag member.get_profile_image(100,100) %>
<table class="table">
  <tr>
    <th>ニックネーム</th>
    <th><%= member.nickname %></th>
  </tr>
  <tr>
    <th>自己紹介</th>
    <th><%= member.self_introduction %></th>
  </tr>
  <tr>
    <th>居住地</th>
    <th><%= member.address %></th>
  </tr>
  <tr>
    <th>メインパート</th>
    <th><%= member.main_part %></th>
  </tr>
</table>

<div class='row'>
  <div class='col-md-12'>
    <%= link_to edit_member_path(member) do %>
    <button type="button" class="btn btn-outline-success btn-block">
      <i class="fa-solid fa-user-gear">会員情報編集</i>
    </button>
    <% end %>
    <div style ="height: 5px;"></div>
    <%= link_to new_post_path do %>
    <button type="button" class="btn btn-outline-primary btn-block">
      <i class="fa-solid fa-square-arrow-up-right">新規投稿</i>
    </button>
    <% end %>
  </div>
</div>