<% if member_signed_in? && @member == current_member %>
  <h1>マイページ</h1>
<% else %>
  <h1>ユーザーページ</h1>
<% end %>
<%= image_tag @member.get_profile_image(100,100) %>
<h2><%= @member.nickname %></h2>
<table>
  <tr>
    <th scope="col">タイトル</th>
    <th scope="col">本文</th>
    <th scope="col">コメント数</th>
  </tr>
  <% @posts.each do |post| %>
    <tr>
      <td><%= link_to post.post_title, post_path(post) %></td>
      <td><%= post.post_text %></td>
      <td><%= link_to "#{post.post_comments.count} コメント", post_path(post.id) %></td>
    </tr>
  <% end %>
</table>
