<div class="container">
  <div class="row">
    <div class="col-4 mx-auto px-auto shadow bg-body rounded">
        <h2>会員登録</h2>
        <%= form_with model: @member, url: member_registration_path, id: 'new_member', class: 'new_member', local: true do |f| %>
          <%= render "public/shared/error_messages", resource: resource %>
          <div class="field">
            <%= f.label "氏名" %><br>
            <%= f.text_field :name, autofocus: true %>
          </div>
          <div class="field">
            <%= f.label "氏名(ふりがな)" %><br>
            <%= f.text_field :furigana %>
          </div>
          <div class="field">
            <%= f.label "メールアドレス" %><br />
            <%= f.email_field :email, placeholder: "****@**.com" %>
          </div>
          <div class="field">
            <%= f.label "パスワード" %><br />
            <%= f.password_field :password, placeholder: "6文字以上" %>
          </div>
          <div class="field">
            <%= f.label "パスワード(確認)" %><br />
            <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
          </div>
          <div class="field">
            <%= f.label "ニックネーム" %><br>
            <%= f.text_field :nickname %>
          </div>
          <div class="field">
            <%= f.label "居住地(市町村まで)" %><br>
            <%= f.text_field :address %>
          </div>
          <div class="field">
            <%= f.label "自己紹介" %><br>
            <%= f.text_area :self_introduction, placeholder: "（空欄でも可）" %>
          </div>
          <div class="field">
            <%= f.label "メインパート" %><br>
            <%= f.text_field :main_part, placeholder: "（空欄でも可）" %>
          </div>
          <div class="actions">
            <%= f.submit "会員登録" %>
          </div>
        <% end %>
        <%= render "public/shared/links" %>
    </div>
  </div>
</div>
