<% if member_signed_in? && @member == current_member %>
  <h1>マイページ</h1>
<% else %>
  <h1>ユーザーページ</h1>
<% end %>
<h2><%= @member.nickname %></h2>
<% @posts.each do |post| %>
  <tr>
    <td>
      <%= link_to member_path(@member) do %>
        <%= image_tag @member.get_profile_image(100,100) %>
      <% end %>
    </td>
    <td><%= link_to post.post_title, post_path(post) %></td>
    <td><%= post.post_text %></td>
  </tr>
<% end %>



